{% extends 'Admin1/Adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br><h1 class="text-center" style="font-family: 'Alkatra', cursive;">Customers List</h1><hr><br>
<div class="row justify-content-center ">
    <div class="col-xl-9">
        <table class="table table-info table-responsive">
          <thead>
            <tr>
              <th scope="col-1">SL.No</th>
              <th scope="col-3">CUSTOMER NAME</th>
              <th scope="col-5">EMAIL</th>


            </tr>
          </thead>
          <tbody>
          {%  for i in data %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.Name}}</td>
              <td>{{i.Email}}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
</div>

{% endblock %}